@import "../../../assets/styles/variables";

.Toolbar {
  height: 56px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: $primary-color-accent;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
}

.Logo {
  height: 80%;

  img {
    height: 100%;
  }
}
