@import '../../../../assets/styles/variables';


.checkbox-radio-input-select-input {
  height: 16px;
  min-width: 16px;
  background-color: transparent;
  border: 1px solid $secondary-color-gray20;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:checked {
    background-color: $primary-color-accent;
    transition: background-color .4s cubic-bezier(0.19, 1, 0.22, 1);
    border: none;
  }
  &:checked:hover {
    border: none;
  }
  &:hover {
    border: 1px solid $secondary-color-gray50;
  }
  @media only screen and (max-width: $md) {
    &:hover {
      border: 1px solid $secondary-color-gray20;
    }
  }
}

.checkbox-radio-input-select-input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 2px;
}
.checkbox-radio-input-select-input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
}


